<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID">
    
  <display-name>dooriya</display-name>
    
<!--    context-param -->
	<context-param>
	      <param-name>contextConfigLocation</param-name>
<!--        应用上下文配置文件 -->
	      <param-value>classpath*:spring/spring-*.xml</param-value>
	</context-param>
<!-- log4j -->
<!-- 	<context-param> -->
<!--     <param-name>webAppRootKey</param-name> -->
<!--     <param-value>webApp.root</param-value> -->
<!--     </context-param> -->
<!-- 	 <context-param> -->
<!-- 	  <param-name>log4jConfigLocation</param-name> -->
<!-- 	    <param-value>classpath:log4j.properties</param-value> -->
<!-- 	 </context-param> -->
<!-- 	<listener>   -->
<!-- 	     <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>   -->
<!-- 	 </listener> -->
	 
<!-- <filter> -->
<!--       <description>spring encoding Filter</description> -->
<!--       <filter-name>encodingFilter</filter-name> -->
<!--       <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> -->
<!--       <init-param> -->
<!--         <description>chars encode</description> -->
<!--         <param-name>encoding</param-name> -->
<!--         <param-value>UTF-8</param-value> -->
<!--       </init-param> -->
<!--     </filter> -->
<!--     <filter-mapping> -->
<!--       <filter-name>encodingFilter</filter-name> -->
<!--       <url-pattern>/*</url-pattern> -->
<!--     </filter-mapping> -->
<!-- 自定义监听开始 -->
<!-- 	<listener> -->
<!--     <listener-class>com.famework.myframedwz.domain.common.listener.StartListener</listener-class> -->
<!--     </listener> -->
	<listener>
      <description>spring listener</description>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 这个配置不起作用 -->
    <listener>
        <description>log4j listener</description>
        <listener-class>com.ocean.frame.main.common.Log4jListener</listener-class>
    </listener>
     <!-- 配置spring核心servlet  如若照这个配置，需要强制配置spring-servlet.xml文件！-->
<!--     <servlet> -->
<!--         <servlet-name>spring</servlet-name> -->
<!--         <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!--         <load-on-startup>1</load-on-startup> -->
<!--     </servlet> -->
<!--     url-pattern配置为/，不带文件后缀，会造成其它静态文件(js，css等)不能访问。如配为*.do，则不影响静态文件的访问 -->
<!--     <servlet-mapping> -->
<!--         <servlet-name>spring</servlet-name> -->
<!--         <url-pattern>/</url-pattern> -->
<!--     </servlet-mapping> -->
<!--     <welcome-file-list> -->
<!--     	<welcome-file>index.html</welcome-file> -->
<!--      </welcome-file-list> -->
    
<!--     <servlet-mapping> -->
<!--     <servlet-name>default</servlet-name> -->
<!--     <url-pattern>*.jpg</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 	    <servlet-name>default</servlet-name> -->
<!-- 	    <url-pattern>*.js</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 	    <servlet-name>default</servlet-name> -->
<!-- 	    <url-pattern>*.css</url-pattern> -->
<!-- 	</servlet-mapping>  -->

<!-- springmvc配置部分 其实就是一个普通的servlet -->
	<servlet>
		<description>spring mvc servlet</description>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>spring mvc config</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
      <servlet-name>springMvc</servlet-name>
      <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    
    <session-config>
	  <session-timeout>1</session-timeout>
	 </session-config>
    <filter>
      <filter-name>sessionFilter</filter-name>
      <filter-class>com.ocean.frame.main.common.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
</web-app>
